@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
	font-family: Coolvetica;
	font-style: normal;
	font-weight: 200 1000;
	src: url("/fonts/Coolvetica Rg.otf") format("opentype");
}
@import "tailwindcss";

:root {
	@apply bg-neutral-50;
}

@theme static {
	--color-primary-darker: #f4541c;
	--color-primary-dark: #f1740d;
	--color-primary-neutral: #fe8d2d;
	--color-primary-light: #efb442;
	--color-primary-lighter: #f3c865;
	--color-primary-lightest: #fce6d1;

	--font-heading: Coolvetica, sans-serif;
	--font-body: Poppins, sans-serif;
}

@utility gradient-color {
	@apply from-[#ef9419] to-[#c94f1e];
}
@utility typo-gradient {
	@apply text-transparent bg-clip-text bg-gradient-to-r gradient-color;
}

@utility typo-h1 {
	@apply font-heading leading-[120%] tracking-wide text-[52px] sm:text-[64px] md:text-[72px] lg:text-[86px];
}
@utility typo-h2 {
	@apply font-heading leading-[120%] tracking-wide text-[36px] sm:text-[42px] lg:text-[56px];
}
@utility typo-h3 {
	@apply font-heading leading-[120%] tracking-wide text-[28px] sm:text-[32px] lg:text-[40px];
}
@utility typo-h4 {
	@apply font-heading leading-[120%] text-[24px] md:text-[32px];
}
@utility typo-h5 {
	@apply font-heading leading-[120%] text-[20px] md:text-[24px];
}
@utility typo-h6 {
	@apply font-heading leading-[120%] text-[18px] md:text-[20px];
}

@utility typo-b-lg {
	@apply font-body leading-snug text-[18px] md:text-[20px];
}
@utility typo-b-md {
	@apply font-body leading-snug text-[16px] md:text-[18px];
}
@utility typo-b-rg {
	@apply font-body leading-snug text-[14px] md:text-[16px];
}
@utility typo-b-sm {
	@apply font-body leading-snug text-[12px] md:text-[14px];
}
@utility typo-b-tn {
	@apply font-body leading-snug text-[10px] md:text-[12px];
}
